<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon_vocher1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_vocher1"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoppingBook_API"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".cnAdmin.DieuKhoanActivity"
            android:exported="false" />
        <activity
            android:name=".cnAdmin.ShowAcountActivity"
            android:exported="false" />
        <activity
            android:name=".cnAdmin.VocherActivity"
            android:exported="false" />
        <activity
            android:name=".cnUser.PayActivity"
            android:exported="false" />
        <activity
            android:name=".cnUser.DetailProductActivity"
            android:exported="false" />
        <activity
            android:name=".cnUser.DiaChiActivity"
            android:exported="true" />
        <activity
            android:name=".cnAdmin.TimKiemActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".login.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".login.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login.WellcomeActivity"
            android:exported="true" />
    </application>

</manifest>